.calculator-body{
    text-align: center;
    height: 100%;
 
}



    @media screen and (max-width:500px){
        .calculator-body{
            min-width: 390px;
            background-size: cover;
            background-size: 100%;
        }
    }

